html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1cm;
    
}

#main {
    font-size: 1cm;
    position: relative;
    text-align: center;
}

body {
    background-color: white;
}

#para {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

div {

}

#p5Container {
    height: 25rem;
}

#space {
    padding: 1rem;
}
#paragraph {
    font-size: 1.2rem;
    
}

canvas {
    display: block;
}

#defaultCanvas0 {
    float: none;
    overflow: auto;
    width: 400;
    height: 400;
}

#p5sketch {
    
}

.p5form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}